.top {
  background-color: #1f2937;
  overflow: hidden;
  position: float;
}

.header {
  font-family: "Roboto";
  font-size: 24px;
  color: #f9faf8;
  padding-left: 50px;
  width: 150px;
}

.menu {
  color: #f9faf8;
  font-family: "Roboto";
  font-size: 18px;
  text-align: right;
  vertical-align: text-top;
}

.menu ul {
  list-style-type: none;
}

.menu li {
  display: inline-block;
}

#topimg {
  height: auto;
  max-width: 500px;
  display: inline;
  justify-content: right;
  padding-left: 25%;
}

.hero {
  font-family: "Roboto";
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  float: left;
  justify-content: left;
  padding-left: 120px;
}

.hero sub {
  display: block;
  text-align: left;
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
}

.hero button {
  display: block;
  text-align: left;
  font-size: 20px;
  background-color: #3882f6;
  border-color: #3882f6;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: baseline;
  row-gap: 10px;
}

.container ul {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  row-gap: 10px;
}

.container li {
  height: 40vh;
  flex-grow: 1;
  row-gap: 10px;
  padding: 15px;
}

.container img {
  max-height: 200px;
  min-width: 200px;
  object-fit: cover;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

figcaption {
  text-align: center;
}

h4 {
  font-family: "Roboto";
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
}
